doctype
<!-- Website template by freewebsitetemplates.com -->
html
  head
    link(link rel="stylesheet" type="text/css" href="/css/style.css")
  body
    #page
      div
        #header
          a(href='index.html')
            img(src='images/logo.png', alt='Image')
          ul
            li
              a(href='index.html') Home
            li
              a(href='menu.html') Menu
            li
              a(href='locations.html') Locations
            li
              a(href='about.html') About Us
        #body
    != yield

#footer
          div
            a(href='index.html')
              img(src='images/logo2.png', alt='Image')
            p.footnote
              | Amanda's Coffee 2020.
              br
              | All Rights Reserved.
          .section
            ul
              li
                a(href='index.html') Home
              li
                a(href='menu.html') Menu
              li
                a(href='locations.html') Locations
              li
                a(href='about.html') About Us
            #connect
              a#facebook(href='http://freewebsitetemplates.com/go/facebook/', target='_blank') Facebook
              a#twitter(href='http://freewebsitetemplates.com/go/twitter/', target='_blank') Twitter
              a#googleplus(href='http://freewebsitetemplates.com/go/googleplus/', target='_blank') Google+
              a#rss(href='index.html') RSS
            p
              | This website template has been designed by 
              a(href='http://www.freewebsitetemplates.com/') Free Website Templates
              |  for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the 
              a(href='http://www.freewebsitetemplates.com/forums/') Forums
              | .
