#figure
  img(src='images/headline-about.jpg', alt='Image')
  span Lorem ipsum dolor sit amet.
div
  a.about(href='about.html') About
  div
    h3 We Have Really Good Coffee!
    p We have all types of roasts sourced from the finest beans!

    h3 We Also Have Tea!
    p Black, flavored, decaf, or caffinated. We have it all!

    h3 Try Our Sandwiches!
    p Delicious breads, fine meats and cheeses, the perfect on th ego lunch!

