#figure
  img(src='images/headline-home.jpg', alt='Image')
  span#home Welcome to Amanda's Coffee
    a(href='index.html') Join us for a cup of joe!
#featured
  span.whatshot
    a(href='menu.html') Find out more
  div

